 
@{
    Layout = "~/Views/Shared/_Start.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Info über die Website:</h1>
<br/>
<br/>
<br/>


<!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
@using Microsoft.AspNetCore.Components.Web

<!-- Load the element definition -->
<script type="module"
        src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>

<!-- Simply set the `src` attribute to your MD file and win -->
<zero-md src="https://raw.githubusercontent.com/Luna-Schaetzle/SWP_Csharp_Projekt_24/main/README.md"></zero-md>
