<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnD_Archive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DnD_Archive.styles.css" asp-append-version="true" />
</head>

<body>

    @*
    
        Aufgabe:
            - Kalsse User (UserID, FirstName, LastName, Birthdate)
            - Zuhause: VS updaten und .NET 8 installieren
            - EF Core installieren (EF Core EF Core Tools und Pomelo
                                        - alle in der Version 8)

            - DBContext erzeugen 
            - DB erzeugen lassen
            - Testdaten eintragen

            - alle User aus der DB anzeigen (View/Index)

    
    *@

    <div class="container-fluid">
        <header class="row">
            Kopfbereich
        </header>
        <main class="row">
            <nav class="col-2">
               <partial name="Navigation" />
            </nav>
            <content class="col-8">
                @RenderBody()
            </content>
            <aside class="col-2">
                Seitenbereich
            </aside>
           
        </main>
        <footer class="row">
            Fussbereich
        </footer>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
