@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnD_Archive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DnD_Archive.styles.css" asp-append-version="true" />
    <style>
        body {
            padding-top: 50px; /* Platz für den festen Header */
            background-color: #ffffff;
            color: #000000;

        }

        body.dark-mode {
            background-color: #121212;
            color: #ffffff;
        }

        header {
        
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
            z-index: 1000;
            height: 30px; /* Kleinere Höhe für den Header */
        }

        body.dark-mode header {
            background-color: #1e1e1e;
        }

        .logo img {
            max-height: 30px; /* Noch kleinere Logo-Größe */
        }

        .user-profile {
            display: flex;
            align-items: center;
        }

        .user-profile .username {
            margin-right: 10px;
            cursor: pointer;
        }

        .user-profile .logout-button {
            margin-left: 10px;
            margin-right: 10px; /* Später durch Darkmode muss ersetzt werden */
            cursor: pointer;
        }

        .dark-mode-toggle-container {
            display: flex;
            align-items: center;
            margin-left: 20px;
            margin-right: 10px;
        }

        .dark-mode-toggle {
            margin-left: 5px;
        }




    </style>
</head>

<body>
    <div class="container-fluid">
        <header>
            <partial name="Head" />
        </header>
        <br>
        <br>
        <main class="row">
            <nav class="col-2">
                <partial name="Navigation" />
            </nav>
            <content class="col-10">
                @RenderBody()
            </content>
         
        </main>
    
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const toggleSwitch = document.querySelector('.dark-mode-toggle');
            
            // Load the current mode from local storage if available
            const currentMode = localStorage.getItem('mode');
            if (currentMode === 'dark') {
                document.body.classList.add('dark-mode');
                toggleSwitch.checked = true;
            }

            toggleSwitch.addEventListener('change', function () {
                if (this.checked) {
                    document.body.classList.add('dark-mode');
                    localStorage.setItem('mode', 'dark');
                } else {
                    document.body.classList.remove('dark-mode');
                    localStorage.setItem('mode', 'light');
                }
            });
        });
    </script>
</body>

</html>
