<div class="logo">
    <img src="~/images/logo.webp" alt="Logo" onclick="location.href='/Home/index'">
</div>
<div class="user-profile">
    <span class="username" onclick="location.href='/user/overview'">
        @Context.Request.HttpContext.Session.GetString("UserName")
    </span>
    <button class="logout-button btn btn-secondary" onclick="location.href='/Start/Logout'">Abmelden</button>
    <div class="dark-mode-toggle-container">
        <label for="dark-mode-toggle">Dark Mode</label>
        <input type="checkbox" class="dark-mode-toggle" id="dark-mode-toggle">
    </div>
</div>