<ul>
    <li class="level1">
        <a href="/Home/index">Startseite</a>
       
    </li>
    <li class="level1">
        <a>Character Sheets</a>
    </li>
    <li class="level2">
        <a href="/Home/CreateSheet">Create Sheet</a>
    </li>
    <li class="level2">
        <a href="/Home/index">Delete Sheet</a>
    </li>
    <li class="level2">
        <a href="/Home/index">Open Sheet</a>
    </li>
</ul>
