@model DnD_Archive.Models.CharacterSheet


@{
    ViewData["Title"] = "CreateSheet";
}

<form asp-action="Edit" asp-controller="Home" method="post">
    <input type="hidden" asp-for="SheetId" />
    <div class="form-group">
        <label for="content">CharacterSheet Content:</label>
        <textarea class="form-control" asp-for="Content" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
</form>



