/* Stil für das gesamte Cookie-Fenster */
.cookie-consent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

/* Stil für den Inhalt des Cookie-Fensters */
.cookie-consent-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stil für das Bild im Cookie-Fenster */
.cookie-image {
    width: 200px;
    height: auto; /* Beibehaltung der proportionalen Höhe */
    margin-bottom: 10px;
}


/* Stil für den Text im Cookie-Fenster */
.cookie-consent p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

/* Stil für die Schaltfläche im Cookie-Fenster */
.cookie-consent-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

/* Hover-Effekt für die Schaltfläche */
.cookie-consent-button:hover {
    background-color: #e64a19;
}
