.cookie-consent {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.cookie-consent-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cookie-image {
    width: 100px;
    margin-bottom: 15px;
}

.cookie-consent-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cookie-consent-button:hover {
    background-color: #218838;
}
