@model DnD_Archive.Models.User

@{
    ViewData["Title"] = "edit";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account bearbeiten - DnD_Archive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        <!-- die Css ist im _Layout.cshtml -->
    </style>
</head>

<body>
    <form asp-controller="User" asp-action="edit" method="post">
        <table class="form-table">
            <thead>
                <tr>
                    <th colspan="2">Username und Email Editor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Benutzername:</td>
                    <td>
                        <input type="text" asp-for="UserName" value="@Model.UserName" />
                    </td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>
                        <input type="email" asp-for="email" value="@Model.email" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Änderungen Übernehmen" />
                        <input type="reset" value="Zurück zur Übersicht" onclick="window.location.href = '/User/overview'" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
